# CAPM

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf

In [4]:
assets = ["PG", "^GSPC"]
data = pd.DataFrame()
for stock in assets:
    data[stock] = yf.download(stock, start = "2015-01-01", end = "2024-12-31")["Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
data

                    PG        ^GSPC
Date
2015-01-02   67.861969  2058.199951
2015-01-05   67.539307  2020.579956
2015-01-06   67.231644  2002.609985
2015-01-07   67.584320  2025.900024
2015-01-08   68.357185  2062.139893
...                ...          ...
2024-12-23  167.091125  5974.069824
2024-12-24  167.916092  6040.040039
2024-12-26  169.128708  6037.589844
2024-12-27  168.502518  5970.839844
2024-12-30  166.077301  5906.939941

[2515 rows x 2 columns]

In [6]:
returns = np.log(data/data.shift(1))
cov = returns.cov()*250
cov

             PG     ^GSPC
PG     0.033807  0.017442
^GSPC  0.017442  0.031762

## Calculate Belta

#### Use S&P 500 index to represent market

In [9]:
market_var = returns["^GSPC"].var()*250
market_var

0.031762094611185704

### Belta of PG: 
#### cov(PG, mkt)/var(mkt)

In [11]:
belta_PG = cov.iloc[0,1]/market_var
belta_PG

0.549130595745393

## Calculate expected return of P&G: 
#### return_(risk_free)+belta_PG*(return_(expected_market)-return_(risk_free))

In [13]:
### Imagine return_(risk_free) to be 0.025 and risk premium to be 5%

In [14]:
PG_er = 0.025 + belta_PG*0.05
PG_er

0.052456529787269654

## Calculate Sharpe ratio:
#### (return_(expected_PG)-return_(risk_free))/var(PG)

In [16]:
sharpe_PG = (PG_er-0.025)/(returns["PG"].std()*250**0.5)
sharpe_PG

0.1493281510217736