# Calculate risk

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import yfinance as yf

## 01 Calculate the risk of a security

In [4]:
tickers = ['PG', 'BEI.DE']
data_01 = pd.DataFrame()
for t in tickers:
    data = yf.download(t, start='2014-01-01', end='2023-12-31')
    data_01[t] = data['Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
data_01

                    PG      BEI.DE
Date
2014-01-02   58.940639   67.082314
2014-01-03   58.874763   67.430939
2014-01-06   59.013813   67.155693
2014-01-07   59.584644   67.339188
2014-01-08   58.721073   66.761208
...                ...         ...
2023-12-22  141.751053  133.905151
2023-12-26  142.395020         NaN
2023-12-27  142.512115  133.607376
2023-12-28  142.190125  134.004425
2023-12-29  142.980438  134.699265

[2516 rows x 2 columns]

In [6]:
returns_01 = np.log(data_01 / data_01.shift(1))

In [7]:
returns_01

                  PG    BEI.DE
Date
2014-01-02       NaN       NaN
2014-01-03 -0.001118  0.005184
2014-01-06  0.002359 -0.004090
2014-01-07  0.009626  0.002729
2014-01-08 -0.014599 -0.008620
...              ...       ...
2023-12-22  0.007046  0.004085
2023-12-26  0.004533       NaN
2023-12-27  0.000822       NaN
2023-12-28 -0.002262  0.002967
2023-12-29  0.005543  0.005172

[2516 rows x 2 columns]

### PG

In [9]:
print(f"annual rate of return of PG: {returns_01['PG'].mean() * 250}")
print(f"annual rate of risk   of PG: {returns_01['PG'].std() * (250 ** 0.5)}")

annual rate of return of PG: 0.08808916482383984
annual rate of risk   of PG: 0.18143002715135548

### Beiersdorf

In [11]:
print(f"annual rate of return of Beiersdorf: {returns_01['BEI.DE'].mean() * 250}")
print(f"annual rate of risk   of Beiersdorf: {returns_01['BEI.DE'].std() * (250 ** 0.5)}")

annual rate of return of Beiersdorf: 0.06985614427116624
annual rate of risk   of Beiersdorf: 0.19777875323598434

In [12]:
# the following 2 blocks treat PG and BEI.DE together
returns_01[['PG', 'BEI.DE']].mean() * 250 # remember: double bracket [[...]]

PG        0.088089
BEI.DE    0.069856
dtype: float64

In [13]:
returns_01[['PG', 'BEI.DE']].std() * (250 ** 0.5)

PG        0.181430
BEI.DE    0.197779
dtype: float64

## 02 Calculate the risk of a portfolio
We still use the data of PG and BEI.DE with equal weight.

In [15]:
weights = np.array([0.5, 0.5]) # define the weight

To calculate the corr of PG and BEI.DE

In [17]:
portfolio_var = np.dot(weights.T, np.dot(returns_01.cov() * 250, weights))
portfolio_var

0.02293114641070045

To calculate the volatility of the portfolio

In [19]:
portfolio_vol = np.dot(weights.T, np.dot(returns_01.cov() * 250, weights)) ** 0.5
print(str(round(portfolio_vol, 5)*100)+" %")

15.143 %

Diversifiable Risk

In [21]:
PG_var_year = returns_01['PG'].var() * 250
BEI_var_year = returns_01['BEI.DE'].var() * 250
diversiable_risk = portfolio_var - weights[0]**2*PG_var_year - weights[1]**2*BEI_var_year

In [22]:
diversiable_risk

0.004922823914769954

Non-diversifiable Risk

In [24]:
nondiversiable_risk = weights[0]**2*PG_var_year + weights[1]**2*BEI_var_year
nondiversiable_risk

0.018008322495930495

In [25]:
nondiversiable_risk = portfolio_var - diversiable_risk
nondiversiable_risk

0.018008322495930495